body{
  margin: 0;
  text-align: center;
  font-family: helvetica,sans-serif;
  color: #005A8D;
}

h1{
font-size: 60px;
  width: 30%;
  line-height: 1;
  margin: 0 auto 0 auto;
  font-family: Sacramento,sans-serif;
  color: #022E57;

}
h2{
  margin: 0 auto 0 auto;
  font-family: Sacramento,sans-serif;
  color: #022E57;

}

hr {
  border:none;
  border-top:10px dotted #FFFFFF;
  height:10px;
  width:10%;
}

.dragon-img {
  width : 25%;
  float: left;
  margin-right: 30px;
}

.dragon-img2 {
  width: 25%;
  float: right;
  margin-left: 30px;

}



h3{

  margin: 0 auto 0 auto;
  font-family: Sacramento,sans-serif;
  color: #022E57;

}

.skill-row{
  width: 50%;
  margin: 40px auto 40px auto;
  text-align: left;
}

div{
  background-color: #FF96AD;
}

.topcontainer{
  padding: 50px;
}

p{
  font-family: Bubblegum,sans-serif;
}

.middle-container {

}

.top-cloud{
    position: absolute;
    top : 10px;
    right : 20%;

}
.bottom-cloud{
  position: absolute;
  top : 250px;
  left : 20%;
}

.bottom-container{
    font-family: Bubblegum,sans-serif;
padding: 20px;
    background-color: #022E57;
}

.BUTTON_CHG {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FF96AD;
   font-family: Sacramento,sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   background-color: #022E57;

   text-shadow: 1px 1px 20px #000000;
   border: solid #022E57 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_CHG:hover {
   background: #FFFFFF;
   border: solid #FFFFFF 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.footer-link{
  font-family: Sacramento,sans-serif;
   color: #FF96AD;
   margin: 10px 10px;
}
